.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.information input {
  width: 333px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

button {
  width: 350px;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 25px;
 
}


button:hover {
  cursor: pointer;
}

.records {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.record {
  width: 90%;
  background-color: seashell;
  border: 1px solid black;
  margin: 10px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Courier New', Courier, monospace;
}
